.body{
    background: url(backimg.jpg);
}

#boder{
    border-style: groove;
    border-width: 1px;
    padding: 20px;
    margin-top: 80px;
    color: blue;
    background-color: red;
}

.y{
    width: 400px;
    height: 400px;
    border-style: groove;
}

.x{
    width: 400px;
    height: 400px;
    border-style: groove;
    margin-left: 15px;
}

.z{
    width: 400px;
    height: 400px;
    border-style: groove;
    margin-left: 20px;
}